div.header-design-con {
    height: 50vh;
    min-height: 490px;
    background-color: rgba( 16, 34, 46, 1 );
    position: relative;
}

/* div.header-design-con::before, div.header-design-con::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 40px;
}

div.header-design-con::before {
    height: 60%;
    background: linear-gradient( to top, rgba( 253, 131, 1, 1 ) 0%,  rgba( 0, 0, 0, 0 ) 90% );
}

div.header-design-con::after {
    height: 20%;
    background: linear-gradient( to top, rgba( 196, 58, 23, 1 ),  rgba( 0, 0, 0, 0 ) 80% );
} */