div.wall-con {
    background-color: rgba( 10, 30, 25, 1);
    height: 50vh;
    min-height: 490px;
}

div.window-con {
    height: 95%;
    width: 400px;
    border: 10px solid rgba( 60, 40, 40, 1);
    border-radius: 5px;
    -moz-box-shadow:    0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow:         0 0 20px black;
}

div.window-inside {
    height: 100%;
    box-shadow: 0 0 15px rgba( 180, 120, 180, .5);
    border: 1px solid rgba( 0, 0, 0, .5);
    flex-direction: column;
    justify-content: space-between;
}

div.window-inside > div {
    width: 100%;
}

div.sky-con {
    height: 65%;
    background-color: rgba( 45, 80, 130, 1);
}

div.split-mid {
    position: relative;
    flex: 1;
    background: linear-gradient( to right, rgba( 0, 0, 0, 1 ) 0% 35%, rgba( 200, 35, 50, 1) 50%, rgba( 0, 0, 0, 1 ) 65% 100% );
}

div.horizon-left, div.horizon-right,
div.horizon-left::before, div.horizon-right::before,
div.horizon-left::after, div.horizon-right::after {
    position: absolute;
    background-color: black;
}

div.horizon-left, div.horizon-left::before {
    border-top-right-radius: 150%;
}

div.horizon-right, div.horizon-right::before {
    border-top-left-radius: 150%;
}

div.horizon-left::before, div.horizon-right::before,
div.horizon-left::after, div.horizon-right::after {
    content: "";
}

div.horizon-left::before, div.horizon-right::before {
    height: 3px;
    width: 90%;
    bottom: -2px;
}

div.horizon-left::before {
    border-bottom-right-radius: 150%;

}

div.horizon-right::before {
    right: 0;
    border-bottom-left-radius: 150%;
}

div.horizon-left, div.horizon-right {
    height: 7px;
    bottom: calc(100% + 1px );
}

div.horizon-left {
    width: 35%;
    transform: rotate( 1deg );
}

div.horizon-right {
    width: 35.5%;
    left: 65%;
    transform: rotate( -1deg );
}

div.horizon-left::after, div.horizon-right::after {
    height: 8px;
    width: 100%;
    background: linear-gradient( to top, rgba( 0, 0, 0, 1 ), rgba( 0, 0, 0, 0 ) );
    bottom: 50%;
}

div.horizon-left::after {
    transform: rotate( 2deg );
    border-top-right-radius: 150%;
}

div.horizon-right::after {
    transform: rotate( -2deg );
    border-top-left-radius: 150%;
}

div.sea-con {
    height: 34.75%;
    background-color: rgba( 15, 25, 55, 1);
}