.un-pad {
  padding: 0 200px;
}

@media only screen and ( max-width: 800px ) {
  .un-pad {
    padding: 0 20vw;
  }
}

@media only screen and ( max-width: 645px ) {
  .un-pad {
    padding: 0 5vw;
  }
}

ul {
  list-style: none;
}

a {
 color: black;
}

.fd {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}